
table {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  border-collapse: collapse;
}

table td, table th {
  padding: 2px 5px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.ImageListItem:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}


.sticky-right-column1 {
  position: sticky; 
  right: 0;
  background-color: white;
}

.sticky-right-column2 {
  position: sticky; 
  right: 140px;
  background-color: white;
}

.sticky-right-column3 {
  position: sticky; 
  right: 320px;
  background-color: white;
}


.height-30 {
  height: 30px;
  min-height: 30px;
  overflow:hidden;
  white-space: nowrap;
}

.width-130 {
  min-width: 130px;
  max-width: 130px;
}

.width-140 {
  min-width: 140px;
  max-width: 140px;
}

.width-170 {
  min-width: 170px;
  max-width: 170px;
}






table {
  border-collapse: collapse;
}

table td, table th {
  padding: 2px 5px;
}

.highlight {
  background-color: rgb(202, 172, 239);
}


.scroll-container {
  height: 300px;
  overflow-y: auto; 
  width: 100%;
  border: 1px solid #ccc;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
